{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Rightaway - {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <a class="home" href="/">Home</a>
      <div class="groceriesPage">
        <a class="navbar-item" href="/groceries">Groceries</a>
      </div>
      <div class="groceriesListPage">
        <a class="navbar-item" href="/grocerieslist">Your Grocery List</a>
        {% if user.is_authenticated %}
        <div class="sighIn">
          <span class="accountName"
            >Welcome: {{user.username}}<span class="fa fa-user-o"></span
          ></span>
          <a class="logOut" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="signInMenu">
          <a class="navbar-item" href="{% url 'login' %}">Log In</a>
          <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="spot"></div>
    {% block content %} {% endblock %}
  </body>
</html>
