{% extends 'base.html' %} {% block content %}

<h1 class="your-shopping-listH1">
  <span class="your-shopping-list-span">Your Shopping List</span>
</h1>
<div class="groceries-list">
  {% for grocerylist in grocerylists %}
  <div class="grocery-card">
    <p class="groceryName">{{ grocerylist.name }}</p>
    <img
      class="groceries-image"
      src="{{ grocerylist.image }}"
      style="width: 50%"
    />

    <button>
      <a class="btn" href="{% url 'remove_grocery' grocerylist.pk%}"
        >Remove Item</a
      >
    </button>
  </div>
  {% endfor %}
</div>
<div class="check-out">
  <button class="check_out">
    <a class="check-out-btn" href="{% url 'check_out' %}">Check out</a>
  </button>
</div>
{% endblock %}
