{% extends 'base.html' %} {% block content %}

<div class="yourShoppingList">
  {% for grocerylist in grocerylists %}
  <h1 class="your-shopping-listH1">
    <span class="yourShoppingList">Your Shopping List</span>
  </h1>
  <p>{{ grocerylist.name }}</p>
  <img src="{{ grocerylist.image }}" style="width: 50%" />
  <p>{{ grocerylist.category }}</p>
  <button type="button">
    <a class="remove-btn" href="{% url 'remove_grocery' grocerylist.pk%}"
      >Remove Item</a
    >
  </button>
  {% endfor %} {% endblock %}
</div>
