{% extends 'base.html' %} {% block content %}
<form id="formDiv" method="get">
  <div class="searchSection">
    <input
      class="searchInput"
      type="text"
      name="name"
      placeholder="Search for groceries  🥬🥦🫑🍒🍓🍌🌶"
    />
    <input class="btn" type="submit" value="Search"></input>
  </div>
  <div class="groceries-page-btn">
    <button>
      <a class="btn" href="{% url 'groceries' %}">Clear Search</a>
    </button>
    <button>
      <a class="btn" href="{% url 'groceries_create' %}"
        >Create Grocery</a
      >
    </button>
  </div>
</form>
<h1 id="mainPageH1">Fruits</h1>

<div class="yourShoppingList">
  {% for grocery in groceries %}
  <a class="grocery-card" href="{% url 'groceries_detail' grocery.pk %}">
    <figure id="groceriesImages">
      <img class="groceries-image" src="{{grocery.image}}" alt="{{gorcery.name}}" style="width: 60%" />
      <p class="groceryName">{{grocery.name}}</p>
    </figure>
  </a>
  {% endfor %} 
</div>
{% endblock %}
