{% extends 'base.html' %} {% block content %}

<div class="detailPage">
  <figure class="image">
    <img
      class="detail-img"
      style="width: 70%"
      style="height: 70%"
      src="{{grocery.image}}"
      alt="{{grocery.name}}"
      style="width: 100%"
    />
  </figure>
  <div class="detailPageTexts">
    <div class="detailName">
      {% if grocery.organic %}
      <div>
        <span class="organic">Organic ✅</span>
      </div>
      {% endif %}
      <span class="grocery-name">{{grocery.name}}</span>
      <span class="grocery-category">({{grocery.category}})</span>
    </div>
    <div class="buttons">
      <button>
        <a class="button" href="{% url 'groceries_update' grocery.pk %}"
          >Update
        </a>
      </button>
      <button>
        <a class="button" href="{% url 'groceries_delete' grocery.pk %}"
          >Delete
        </a>
      </button>
      <form method="post">{% csrf_token %}</form>

      {% if grocery in available %}
      <button>
        <a class="button" href="{% url 'add_grocery' grocery.pk %}"
          >Add Grocery</a
        >
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
