{% extends 'base.html' %} {% block content %}
<form id="formDiv" method="get">
  <div class="searchSection">
    <input
      class="searchInput"
      type="text"
      name="name"
      placeholder="Search for groceries  🥬🥦🫑🍒🍓🍌🌶"
    />
    <input class="search" type="submit" value="Search"></input>
  </div>
  <div class="searchNCreate">
    <button class="button">
      <a class="CreateNClear" href="{% url 'groceries' %}">Clear Search</a>
    </button>
    <button class="button">
      <a class="CreateNClear" href="{% url 'groceries_create' %}"
        >Create Grocery</a
      >
    </button>
  </div>
</form>
<h1 id="mainPageH1">Fruits</h1>

<div class="imagesAll">
  {% for grocery in groceries %}
  <a href="{% url 'groceries_detail' grocery.pk %}">
    <figure id="groceriesImages">
      <img class="ind-image" src="{{grocery.image}}" alt="{{gorcery.name}}" style="width: 30%" />
      <p class="groceryName">{{grocery.name}}</p>
    </figure>
  </a>
  {% endfor %} 
</div>
{% endblock %}
