{% extends 'base.html' %} {% block content %}

<div class="detailPage">
  <figure class="image">
    <img src="{{grocery.image}}" alt="{{grocery.name}}" style="width: 100%" />
  </figure>

  <div class="detailName">
    {% if grocery.organic %}
    <div class="organic">
      <span>Organic</span>
    </div>
    {% endif %}
    <h3>{{grocery.category}}</h3>
    <h1 class="title">{{grocery.name}}</h1>
  </div>
  <div class="buttons">
    <a href="{% url 'groceries_update' grocery.pk %}" class="button">
      Update
    </a>
    <a href="{% url 'groceries_delete' grocery.pk %}" class="button">Delete </a>
    <form method="post">
      {% csrf_token %}
      <input type="submit" value="Add to the List❌🔱" class="button" />
    </form>
  </div>
</div>

{% if grocery in available %}

<h1>Add To List</h1>
<a href="{% url 'add_grocery' grocery.pk %}">Add Grocery</a>

{% endif %} {% endblock %}
