{% extends 'base.html' %} {% block content %}
<div class="home-page">
  <h1 class="home-header">
    Your fresh, organic and affordable options.. 🚚"Rightaway"🚚
  </h1>
</div>
  <div class="social">
    <a
      class="fa fa-linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/koray-kurtoglu/"
      >LinkedIn</a
    >
    <a
      class="fa fa-google"
      target="_blank"
      href="https://github.com/koray7?tab=repositories"
      >Github</a
    >
    <a
      class="fa fa-twitter"
      target="_blank"
      href="https://www.linkedin.com/in/koray-kurtoglu/"
      >Twitter</a
    >
  </div>
  {% endblock %}
</div>
